* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #282a36;
}
.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 800px;
  width: 400px;
  padding: 80px;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  border-radius: 15px;
}
.navigation {
  position: relative;
  width: 400px;
  height: 60px;
  background: rgb(58, 133, 167); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.navigation ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation ul li {
  list-style: none;
  position: relative;
  width: calc(70px);
}

.navigation ul li a {
  text-decoration:none; 
  color:#555; 
  position:relative; 
  display:flex; 
  justify-content:center; 
  align-items:center; 
  width :100%; 
  height :60px; 
}

.navigation ul li a .icon {
  position:relative; 
  background:rgb(58, 133, 167); 
  border-radius :50%;  
  display:block; 
  width :55px; 
  height :55px; 
  text-align:center; 
  line-height :65px; 
  border-radius :65px; 
  color :#222327; 
  font-size :1.5em; 
  transition :0.5s; 
  transition-delay :0s; 
  z-index :2; 
}

.navigation ul li.active a .icon {
    background :var(--clr); 
  color :#442020; 
  transform :translatey(-27px); 
  transition-delay :0.25s; 
  z-index :2; 
}

.indicator {
  position:absolute; 
  top :-35px; 
  width :70px;  
  height :70px;  
  background:rgb(58, 133, 167); 
  border-radius :50%;  
  z-index :1;  
  transition:.5s
}

.indicator::before {
    content:"";  
  position:absolute;  
  top :5px;  
  left :-27.5px;  
  width :30px;  
  height :30px;  
  border-radius :50%;  
  box-shadow :15px,18px,#fff
}

.indicator::after {
    content:"";  
  position:absolute;  
  top :5px;  
  right :-27.5px;  
  width :30px;  
  height :30px;  
  border-radius :50%;  
  box-shadow :-15px,18px,#fff
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translatex(calc((100% / 3) * 0 + 1%)); 
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translatex(calc((100% / 3) * 1 + 202%)); 
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translatex(calc((100% / 3) * 2 + 402%)); 
}


#home, #game, #settings {
  position: absolute;
  width: 400px;
  height: 650px;
  padding: 80px;
  background: #fff;
  box-sizing: border-box;
}
#home{
  display: block;
}
#game{
  display: none;
}

#settings{
  display: none;
}
#settings .top-bar {
  display: none;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 400px; 
  height: 50px; 
  margin: auto;
  background-color: #58a5a9; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon-text {
  display: flex;
  align-items: center;
}

.icon-text img {
  margin-right: 15px;
}
#vertical-bar {
  position: absolute;
  left: 123px;
  top: 90px; /* Điều chỉnh vị trí ở đây */
  width: 50px;
  height: 310px;
  background-color: #5cb0b5;
}


#quanli {
  position: absolute;
  left: 0;
  top: 50px;
  width: 400px;
  height: 550px;
  object-fit: fill;
}

#menu-container {
  position: relative; 
  
}

#menu-list {
  position: absolute; /* Đặt vị trí tuyệt đối cho danh sách */
  top: 100%;
  top:108px;
  right: -18px; /* Đặt danh sách bên trái của container */
  z-index: 1; /* Đảm bảo danh sách luôn nằm trên các thành phần khác */
  transform: skewY(-15deg);
}


#menu-list li {
  position: relative;
  list-style: none;
  width: 200px;
  padding: 15px;
  background-color: #3e3f46;
  z-index: calc(1 *var(--i));
  transition: 0.5s;
}

#menu-list li:hover {
  background: #996fae;
  transform: translateX(-50px);
}
#menu-list li::before {
  font-family: "FontAwesome";
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #2e3133;
  background-size: 20px;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}

#menu-list li:hover::before {
  background: #7b5190;
}
#menu-list li:after {
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #35383e;
  transform-origin: bottom ;
  transform: skewX(45deg);
  transition: 0.5s;
}
#menu-list li:hover::after {
  background: #86589d;
}
#menu-list li a {
  text-decoration: none;
  color: #999;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
#menu-list li:hover a {
  color: #fff;
}
#menu-list li:last-child::after {
  box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}
#menu-list .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  margin-right: 5px;
}

